@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-plex dark:bg-site bg-neutral-50;
  }
}

@page {
  size: A4;
}

*, ::after, ::before {
  box-sizing: border-box;
  transition: color 0.2s ease 0s, background-color 0.25s ease 0s, border-color 0.5s ease 0s, opacity 0.25s ease 0s, fill 0.15s ease 0s;
}

.cover {
  @apply overflow-hidden p-0 flex break-words dark:bg-background bg-gray-400;
  height: 400px;
  max-height: 400px;
}

.info {
  @apply relative z-10 flex xl:w-1/2 w-full flex-col justify-center py-4 md:py-0 print:py-0;
}

.info-title {
  @apply text-3xl whitespace-pre-wrap break-all dark:text-bold-grey text-stone-700;
}

.name {
  @apply relative text-white font-black z-0 mb-1 text-4xl pr-4 xl:text-8xl;
}

.name::after {
  @apply absolute inline-block dark:bg-blue-confetti bg-blue-400 w-[3.45em] h-[0.36em];
  z-index: -1;
  bottom: 0.15em;
  left: -1.41em;
  content: "";
}

.more-item {
  @apply uppercase break-all whitespace-pre-wrap text-base dark:text-bold-grey text-gray-700 xl:text-lg xl:m-2;
}

.contact-button {
  @apply inline-block uppercase cursor-pointer no-underline text-lg font-normal rounded-full px-6 py-2 bg-turquoise-confetti dark:bg-yellow-confetti text-background md:text-2xl md:w-60
  print:text-2xl print:w-60 hover:text-stone-100;
}

.contact-button {
  padding: 0.1em 1.2em 0;
  line-height: 2.6;
}

.confetti-up {
  @apply absolute w-12 h-6 right-16 top-[-1rem] md:right-4 md:top-0 md:w-[5.5rem] md:h-[3.3rem] lg:top-[-1rem]
    print:right-4 print:top-0 print:w-[5.5rem] print:h-[3.3rem];
}

.confetti-left {
  @apply absolute w-12 h-12 left-8 bottom-6 md:left-[-2rem] md:bottom-12 md:w-[4.2rem] md:h-[5rem]
    print:left-[-2rem] print:bottom-12 print:w-[4.2rem] print:h-[5rem];
}

.confetti-right {
  @apply absolute right-[3rem] bottom-8 md:right-[-1rem] md:bottom-40 md:w-[2.4rem] md:h-[3.4rem] w-7 h-12
    print:right-[-1rem] print:bottom-40 print:w-[2.4rem] print:h-[3.4rem];
}

.overview,
.summary {
  padding: 2em 0 1em;
}

.work,
.accomplishments,
.education,
.languages,
.timeline {
  @apply pt-6 md:pt-12 px-0 pb-4;
}

.skills,{
  @apply pt-2 md:pt-12 px-0 pb-4;
}

.overview,
.work,
.accomplishments,
.timeline {
  page-break-before: always;
}

.work article:last-child,
.education article:last-child {
  @apply mb-0;
}

.work a {
  @apply hover:underline hover:text-blue-confetti;
}

.summary-wrapper {
  @apply relative flex items-center lg:justify-end gap-6;
}

.summary-icon {
  @apply h-full;
}

.summary-icon::before {
  @apply absolute hidden h-4 w-24 lg:h-[2.32rem] lg:w-[100rem] dark:bg-blue-confetti bg-blue-400 lg:inline-block;
  top: 12.65em;
  left: -97em;
  content: "";
}

.summary-icon > svg {
  @apply w-24 h-24 lg:w-[31rem] lg:h-[15rem];
}

.profile {
  @apply relative flex justify-center text-center w-full mx-0 lg:w-1/2 lg:my-6 h-full;
}

.section-center {
  @apply container mx-auto flex-auto max-w-6xl
}

.subtitle {
  @apply dark:text-white text-stone-800 text-xl uppercase font-bold mb-4 px-4 lg:px-3;
}

.wrapper-item {
  @apply relative overflow-hidden mt-0 m-auto w-64 lg:mr-0 lg:ml-auto ;
}

.wrapper-item:nth-child(even) {
  @apply lg:ml-0 lg:mr-auto;
}

.wrapper-item .item {
  @apply relative z-0 flex items-center ;
  min-height: 14.4em;
}

.wrapper-item .item::before {
  @apply absolute dark:bg-background bg-gray-400 inline-block;
  z-index: -1;
  width: 14.4em;
  height: 14.4em;
  border-radius: 50%;
  content: "";
}

.item .icon {
  position: absolute;
  top: 0.8em;
  left: 10.5em;
}

.number {
  @apply relative text-white font-bold pl-1 text-5xl lg:text-7xl;
}

.number::before {
  @apply absolute bg-blue-400 dark:bg-blue-confetti;
  z-index: -1;
  top: 0.25em;
  left: 0.15em;
  width: 0.2125em;
  height: 0.4875em;
  content: "";
}

.number + div {
  @apply relative flex items-end pl-4 font-light dark:text-light-grey text-stone-700 text-lg flex-1;
}

ul.bullet li {
  @apply text-base lg:text-xl dark:text-bold-grey text-stone-700 flex items-start gap-2 w-full py-1;
}

.bullet .text {
  @apply text-base lg:text-xl dark:text-bold-grey text-stone-700;
  flex: 1;
}

div.bullet {
  @apply  dark:border-blue-confetti border-red-confetti border-solid dark:bg-bold-black w-4 h-4 lg:w-5 lg:h-5 rounded-full mt-1;
  border-width: 0.4rem;
}

.accomplishments .icon {
  @apply w-96 absolute top-[15%] right-0 hidden lg:block;
}

.timeline .row {
  @apply relative flex mb-4;
}

.row:nth-child(2n) {
  @apply justify-start;
}

.row:nth-child(2n-1) {
  @apply justify-end;
}

.line::before {
  @apply absolute left-1/2 top-4 bottom-0 dark:bg-white bg-red-confetti;
  width: 0.1em;
  content: "";
}

.timeline .item-wrapper {
  @apply w-1/2 relative;
}

.timeline .row:nth-child(2n-1) .item-wrapper {
  @apply pl-4 lg:pl-6;
}

.timeline .item {
  @apply flex flex-col;
}

.timeline .row:nth-child(2n) .item {
  @apply flex flex-col text-right pr-4 lg:pr-6 ;
}

.timeline .dot {
  @apply z-10 absolute top-2 w-2 h-2 rounded-full border-solid dark:border-white border-red-confetti dark:bg-white bg-red-confetti border-[0.5em];
}

.timeline .row:nth-child(2n) .dot {
  right: -0.5em;
}

.timeline .row:nth-child(2n-1) .dot {
  left: -0.5em;
}

.title {
  @apply text-base lg:text-lg dark:text-bold-grey text-stone-600;
}

.date {
  @apply text-xs lg:text-sm dark:text-bold-grey text-stone-600;
}

.company {
  @apply text-base lg:text-lg font-bold dark:text-bold-grey text-stone-700;
}

@media (min-width: 1280px) {
  .cover {
    height: 550px;
    max-height: 550px;
  }

  .profile {
    height: inherit;
  }

  .wrapper-item:nth-child(2n) .icon {
    left: 9.7em;
    top: 1.5em;
    transform: rotate(-80deg);
  }
}
