.accordion {
  @apply mb-3 w-full border-solid dark:bg-background lg:mb-8 lg:rounded border dark:border-t-0 dark:border-b-0;
}

.accordion.left {
  @apply border-l-[0.8rem] dark:border-r-0;
}

.accordion.right {
  @apply border-r-[0.8rem] dark:border-l-0;
}

.accordion.primary {
  @apply dark:border-yellow-confetti border-turquoise-confetti;
}

.accordion.secondary {
  @apply dark:border-blue-confetti border-blue-400;
}

.tags {
  @apply flex gap-2 lg:text-sm flex-wrap lg:justify-end text-[.7rem];
}

.acc-header {
  @apply flex flex-col gap-y-2;
}

.right .acc-header {
  @apply pl-4;
}

.toggle-btn {
  @apply h-5 w-5;
  transition: all 0.3s ease 0s;
}

.description {
  @apply text-sm lg:text-base border-t-[0.1rem] border-dashed py-4;
}

.left .description {
  @apply pl-2 pr-4 lg:pl-4 lg:pr-6;
}

.right .description {
  @apply pl-6 pr-4 lg:pl-8 lg:pr-4;
}

.content {
  transition: height 0.7s ease;
  overflow: hidden;
}

.slide-out {
  animation: slide-out 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
